{% extends "layout.twig" %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-3"></div>

			<div class="col card bg-light bg-gradient mt-5">

				<div class="card-title mt-3">
					<h1 class="text-center text-primary py-2 mb-3">Upload Document</h1>
				</div>

				<form method="post" accept-charset="UTF-8" id="CreateAdd" onsubmit="ReseacherDocumentUpload_handleSubmit(event)">
					<input type="hidden" id="user_id" name="user_id" value={{ session.user_id }}>
					<input type="hidden" id="document_type" name="document_type" value="research">
					{% if device_id %}
						<input type="hidden" id="device_id" name="device_id" value={{device_id}}>
					{% else %}
						<div class="mb-3">
							<label for="device_id" class="form-label">Device ID:</label>
							<input type="text" id="device_id" name="device_id" class="form-control" required>
						</div>
					{% endif %}

					<div class="mb-3">
						<label for="filename" class="form-label">Document Name:</label>
						<input id="filename" type="text" name="filename" class="form-control" required/>
					</div>
					<div class="mb-3">
						<label for="file" class="form-label">Select file to upload:</label>
						<input id="file" type="file" name="file" class="form-control" required/>
					</div>

					<div id="result" style="display:hidden" class="mb-3">
						<span id="resultText"></span>
					</div>

					<div class="mb-3">
						<button type="submit" class="btn btn-success">Upload</button>
						<a href={{"/pages/Researcher/DeviceList.php"}} class="btn btn-danger">Cancel</a>
					</div>
				</form>

			</div>
			<div class="col-3"></div>
		</div>
	</div>
{% endblock %}
