{% extends "layout.twig" %}

{% block content %}

	<h1 style="text-align:center">Dashboard</h1>
	<div class="container">
		<div class="row">
			<div class="center">
				<h3>Search for devices</h3>
				<h3>Advanced Search</h3>

				{% if user.type == 'researcher' %}
					<h3>Add research paper</h3>
				{% endif %}

				{% if user.type == 'manufacturer' %}
					<h3>Add device</h3>
					<h3>Update Device</h3>
					<h3>Remove device</h3>
				{% endif %}
			</div>
		</div>
	</div>

{% endblock %}
