{% extends "layout.twig" %}

{% block content %}

	{% set userType = session.user_type %}

	{% switch userType %}
		{% case "DOCTOR" %}
			<h1 style="text-align:center">Doctor Dashboard</h1>
		{% case "RESEARCHER" %}
			<h1 style="text-align:center">Researcher Dashboard</h1>
		{% case "MANUFACTURER" %}
			<h1 style="text-align:center">Manufacturer Dashboard</h1>
		{% default %}
			<h1 style="text-align:center">Not logged in</h1>
	{% endswitch %}

	<div class="container-sm">
		<div class="row">

			<div class="col"></div>

			<div class="col" style="text-align:center">
				<h3>Search for devices</h3>
				<h3>Advanced Search</h3>

				{% if userType == 'RESEARCHER' %}
					<h3>Add research paper</h3>
					<h3>Update research paper</h3>
				{% endif %}

				{% if userType == 'MANUFACTURER' %}
					<a href="/pages/Manufacturer/DeviceList.php">
						<h3>List Device</h3>
					</a>
					<a href="/pages/Manufacturer/DeviceAdd.php">
						<h3>Add Device</h3>
					</a>
				{% endif %}
			</div>

			<div class="col"></div>

		</div>
	</div>
{% endblock %}
