{% extends "layout.twig" %}

{% block content %}

	{% set userType = session.user_type %}

	{% switch userType %}
		{% case "DOCTOR" %}
			<h1 style="text-align:center">Doctor Dashboard</h1>
		{% case "RESEARCHER" %}
			<h1 style="text-align:center">Researcher Dashboard</h1>
		{% case "MANUFACTURER" %}
			<h1 style="text-align:center">Manufacturer Dashboard</h1>
		{% default %}
			<h1 style="text-align:center">Not logged in</h1>
	{% endswitch %}

	<div class="container-sm">
		<div class="row">

			<div class="col"></div>

			<div class="col" style="text-align:center">

				{% if userType == 'RESEARCHER' %}
					<a href="/pages/Researcher/DeviceList.php" class="btn btn-primary">
						<h3>Manage documents</h3>
					</a>
				{% endif %}

				{% if userType == 'MANUFACTURER' %}
					<a href="/pages/Manufacturer/DeviceList.php" class="btn btn-primary">
						<h3>Manage Device</h3>
					</a>
				{% endif %}

			</div>

			<div class="col"></div>

		</div>
	</div>
{% endblock %}
