{% extends "layout.twig" %}

{% block content %}

	<h1 style="text-align:center">Login</h1>

	<div class="card-title bg-primary text-white mt-5">
		<h1 class="text-center py-2">Login Form</h1>
	</div>
	<div id="DisplayDiv" style="color:red; font-weight:bold"></div>
	<div class="card-body">

		<form>
			<input type="text" id="Username" placeholder="Username" class="form-control my-2" value="" required>
			<input type="password" id="Password" placeholder="Password" class="form-control mb-3" value="" required>
			<button type="button" class="btn btn-success" name="login" class="pt-3" onclick="Login_userVerif()">Login</button>
		</form>

	</div>

{% endblock %}
