{% extends "layout.twig" %}

{% block content %}

	{% if success != null %}
		<h3>Succss</h3>
	{% endif %}
	<form action="/controller/upload.php" method="POST" enctype="multipart/form-data">
		<input type="file" name="upload" id="upload">
		<button type="submit">Upload</button>
	</form>


{% endblock %}
