<div style="display:grid;justify-content: space-around;">
  <form action="/pages/SearchResult.php" method="post">
    <input type="hidden" name="searchMethod" value="freeText" />
    <input type="text" placeholder="Free-text search" name="searchText">
    <button type="submit">SEARCH</button>
  </form>
</div>